*.iml
.gradle
/.gradle
.idea
./.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/SSC_BPDContainer/build
/googleplayservices_lib/build
/local.properties
.externalNativeBuild
.cxx
/.idea/sonarlint/issuestore/0/2
/.idea/sonarlint/issuestore/0/3
