<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azul.app.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".globals.AzulApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity android:name=".activities.transactions.SettledTransactionsQuery"></activity>
        <activity android:name=".activities.dashboard.QrCode" />
        <activity android:name=".activities.transactions.QrTransactions" />
        <activity android:name=".activities.registration.UserRegisterActivity"></activity>
        <activity android:name=".activities.dashboard.DashBoardActivity" />
        <activity android:name=".activities.registration.PinSetActivity" />
        <activity android:name=".activities.menuitems.WebActivity" />
        <activity android:name=".activities.home.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.menuitems.AccessData" />
        <activity android:name=".activities.menuitems.MyBusiness" />
        <activity android:name=".activities.menuitems.MyInfo" />
        <activity android:name=".activities.menuitems.MyProfile" />
        <activity android:name=".activities.menuitems.UnitsLocation" />
        <activity android:name=".activities.registration.PinLoginActivity" />
    </application>

</manifest>